.animatedata1{
   
   width: 0;
   
      animation: dropDown 1s ease-out forwards;
        transition: all 1s ;
    
      
       
   }
   @keyframes dropDown {
    from {
        width: 0px;
      }
      to {
        width: 790px;
      }
  }
  .animatedata2{
   
   width: 0;
   
      animation: dropDown1 1s ease-out forwards;
        transition: all 1s ;
    
      
       
   }
   @keyframes dropDown1 {
    from {
        width: 0px;
      }
      to {
        width: 770px;
      }
  }
  .animatedata3{
   
   width: 0;
   
      animation: dropDown2 1s ease-out forwards;
        transition: all 1s ;
    
      
       
   }
   @keyframes dropDown2 {
    from {
        width: 0px;
      }
      to {
        width: 650px;
      }
  }
  .animatedata4{
   
   width: 0;
   
      animation: dropDown3 1s ease-out forwards;
        transition: all 1s ;
    
      
       
   }
   @keyframes dropDown3 {
    from {
        width: 0px;
      }
      to {
        width: 700px;
      }
  }
  .animatedata5{
   
   width: 0;
   
      animation: dropDown4 1s ease-out forwards;
        transition: all 1s ;
    
      
       
   }
   @keyframes dropDown4 {
    from {
        width: 0px;
      }
      to {
        width: 780px;
      }
  }



/* responsive */

  .animatedata6{
   
   width: 0;
   
      animation: dropDown00 1s ease-out forwards;
        transition: all 1s ;
    
      
       
   }
   @keyframes dropDown00 {
    from {
        width: 0px;
      }
      to {
        width: 310px;
      }
  }
  .animatedata7{
   
   width: 0;
   
      animation: dropDown01 1s ease-out forwards;
        transition: all 1s ;
    
      
       
   }
   @keyframes dropDown01 {
    from {
        width: 0px;
      }
      to {
        width: 300px;
      }
  }
  .animatedata8{
   
   width: 0;
   
      animation: dropDown02 1s ease-out forwards;
        transition: all 1s ;
    
      
       
   }
   @keyframes dropDown02 {
    from {
        width: 0px;
      }
      to {
        width: 270px;
      }
  }
  .animatedata9{
   
   width: 0;
   
      animation: dropDown03 1s ease-out forwards;
        transition: all 1s ;
    
      
       
   }
   @keyframes dropDown03 {
    from {
        width: 0px;
      }
      to {
        width: 290px;
      }
  }
  .animatedata00{
   
   width: 0;
   
      animation: dropDown04 1s ease-out forwards;
        transition: all 1s ;
    
      
       
   }
   @keyframes dropDown04 {
    from {
        width: 0px;
      }
      to {
        width: 310px;
      }
  }